/* for login and register page only  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(120deg, #a8c0ff, #3f73a3);
  background-image: url('../images/img14.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.container {
  display: flex;
  width: 80%;
  max-width: 900px;
  height: 500px;
  background: #ffffff;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.left-section {
  flex: 1;
  background: linear-gradient(120deg, #320507, #4b2f3a);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  text-align: center;
}

.left-section h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.left-section p {
  font-size: 1rem;
  line-height: 1.5;
}

.right-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.form-container {
  width: 100%;
  max-width: 400px;
}

.form-container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.input-group {
  margin-bottom: 20px;
}

.input-group label {
  display: block;
  font-size: 14px;
  color: #555;
  margin-bottom: 8px;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 16px;
}

.input-group input:focus {
  border-color: #3498db;
  outline: none;
}

.btn {
  width: 100%;
  padding: 10px;
  background-color: #320507;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #2a3034;
}

p {
  text-align: center;
  margin-top: 20px;
}

p a {
  color: #3498db;
  text-decoration: none;
  font-weight: bold;
}

p a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .container {
      flex-direction: column;
      height: auto;
  }

  .left-section,
  .right-section {
      flex: none;
      width: 100%;
      height: auto;
  }

  .left-section {
      padding: 20px;
  }

  .form-container {
      padding: 20px;
  }
}


input[type="password"] {
  padding-right: 30px;
}

#togglePassword {
  position: absolute;
  right: 10px;
  top: 35%;
  font-size: 20px;
  color: #aaa;
}

#togglePassword:hover {
  color: #333;
}

